@font-face {
    font-family: gothmbold;
    src: url(../fonts/Gotham-Black.otf);
}
@font-face {
    font-family: gothmlight;
    src: url(../fonts/Gotham-Light.otf);
}

@font-face {
    font-family: gothmmedium;
    src: url(../fonts/GothamMedium.ttf);
}

body{
	 font-family: gothmlight;
	font-size:14px;
	font-weight:400;
	color:#000;
}
h1,h2,h3,h4,h5,h6{
	font-family: gothmbold;
	line-height:auto;
	margin:0;
}
p {
  margin-bottom: 10px;
}

.no-gutter{
	padding:0;
}
.banner{
	background:url(../images/banner.jpg) no-repeat;
	background-size:contain;
	height:465px;
	margin-top:5px;
	background-position:;
}
.banner h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 62px;
    color: #00dbfb;
    margin-top: 85px;
}
.banner h4{
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:20px;
	line-height:28px;
}
.header-bar {
	background: #2193dc;
	padding:30px 0 20px 0;
}
.call-con h3 {
	font-size: 24px;
	 color:#fff;
}
.call-con h2 {
	font-size: 48px;
	 color:#fff;
}
.call-con h2::before {
	content: "";
	background: url(../images/phn-icn.png);
	width: 38px;
	height: 46px;
	float: left;
	margin-top: 6px;
	margin-right: 2px;
}
.num-details {
	text-align: center;
	float: right;
}
.enquiry-from {
	width: 270px;
	float: right;
	background: #4d4d4d;
	color:#fff;
	text-align:center;
	padding:10px 15px 2px 15px;
	margin-right:20px;
}
.enquiry-from p {
	font-size: 10px;
	line-height: 10px;
}
.enquiry-from h2 {
	color: #ffda0f;
	font-size: 14px;
	background: #080f18;
	padding: 10px 0;
	margin-bottom:10px;
}
.enquiry-from h3 {
	font-size: 28px;
	margin-bottom: 5px;
}
.enquiry-from form input{
	font-size:12px;
}
.feature-con {
	background: #f3f3f3;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.page-heading h2 {
	color: #4eaeeb;
	font-size: 32px;
	margin-bottom: 25px;
}
.service-con {
	padding-top: 40px;
	padding-bottom: 30px;
	background: #fff;
}
.service-con ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.service-con li {
	font-size: 18px;
	float: left;
	margin-bottom: 15px;
}
.service-con .btm-txt {
	color: #4eaeeb;
	font-size: 18px;
	float: none;
	margin: auto;
	margin-top:20px;
}
.expert-service-con {
	background: #f3f3f3;
	padding-top: 40px;
	padding-bottom: 20px;
}
.expert-service-con .col-sm-4 {
	text-align: center;
}
.expert-service-con h3 {
	font-size: 20px;
	margin-top: 7px;
	margin-bottom: 10px;
}
.expert-service-con p {
	font-size: 14px;
	color: #333;
}
.select-techie {
	padding-top: 40px;
	padding-bottom: 0;
	padding-left: 30px;
}
.select-techie ul{
	margin:0;
	padding:0;
}
.select-techie ul li{
	font-size:20px;
	float:left;
	margin-bottom:20px;
	list-style-image:url(../images/list.png);
	width:100%;
}
.testimonials-con {
	background: #f4f4f4;
	padding-top: 40px;
	padding-bottom: 40px;
}
.testimonial {
	padding: 0 20px;
}
.testimonial p {
	font-size: 16px;
	color: #6f6e6e;
	margin-top: 10px;
}
.testimonial-content h3 {
	font-family: gothmlight;
	font-size: 16px;
	color: #6f6e6e;
	margin-top:20px;
}
.onsite-con h2 {
	color: #4eaeeb;
	font-size: 18px;
}
.onsite-con i{
	color: #4eaeeb;
	font-size: 16px;
}
.onsite-con p {
	font-size: 16px;
	color: #6f6e6e;
	line-height: 26px;
	margin-top: 11px;
}
.onsite-techie-con {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
}
footer {
	background: #02588f;
	text-align: center;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
}
footer h3 {
	font-size: 16px;
	margin-bottom:10px;
}
footer p {
	font-size: 14px;
	color: #a4b8cc;
	margin-bottom: 0;
}
.free-grid-con {
	background: #037bd4;
	padding: 20px 0;
}
.free-grid-con img{
	float:left;
}
.free-grid-con h3 {
	font-size: 14px;
	font-family: gothmlight;
	color: #fff;
}
.free-grid-con span{
	color:#fff;
	font-size:14px;
}
.free-con {
	padding-top: 10px;
	padding-left: 2px;
	float: left;
}
.banner-conent-info h2 {
	font-size: 36px;
	color: #4eaeeb;
}
.banner-conent-info {
	padding-top: 60px;
	padding-left: 50px;
}
.starts-on {
	background: #4eaeeb;
	border-radius: 5px;
	padding: 6px 40px;
	display: inline-block;
	margin-top: 54px;
	color:#fff;
	float:left;
}
.starts-on span {
	float: left;
	margin-top: 7px;
	margin-right: 7px;
	font-weight: bold;
}
.starts-on h3{
	float:left;
	font-size:24px;
	float:left;
}
.call-now-btn {
	font-size: 36px;
	font-weight:bold;
	float: left;
	border: 1px solid #4eaeeb;
	color: #4eaeeb;
	display: inline-block;
	border-radius: 10px;
	padding: 0 30px;
	margin-top:20px;
}
.our-clients {
	padding: 15px 0;
}
.enquiry-from button {
	background: #f0c30e;
	border: none;
	color: #082b35;
	border-radius: 0;
	padding: 10px 0;
}
.enquiry-from button:hover, .enquiry-from button:active:hover{
	background: #f0c30e;
	border: none;
	color: #082b35;
	border-radius: 0;
	padding: 10px 0;
}
.form-group.first-nm {
	padding-right: 10px;
}
.form-group.col-xs-12 {
	padding-bottom: 0px;
	margin-bottom: 10px;
}
.enquiry-from  .form-control{
	border-radius:0;
}
.feature-con p {
	font-size: 20px;
	margin-top: 10px;
}
.logo-con h1 {
	font-size: 42px;
	color: #fff;
	font-family: gothmlight;
	text-transform:uppercase;
	margin-top:8px;
}
.expert-service-con .page-heading {
	padding-left: 30px;
}